.container {
    padding: 8px;
    margin-bottom: 45px;
}

/* desktop nav */
.desktop_nav {
    display: none;
}

/* House Header */

.header_container {
    display: flex;
    justify-content: center;
}

.house_header {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

/*Add Home */
.plus {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 85%;
    background-image: url("../public/images/ic_upload.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.new_listing_btn {
    display: none
}

/*Search Input */
.search_input {
    width: 100%;
    padding: 15px 24px;
    transition: transform 250ms ease-in-out;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    background-color: rgb(232, 232, 232);
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"); */
    /* background-image: url('../public/images/ic_search.png'); */
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 2% center;
    border-radius: 10px;
    border: 1px solid rgb(232, 232, 232);
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    text-align: center;
}

.input_icons {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 35px;
    left: 15px;
}


.search_input::placeholder {
    color: rgb(74, 75, 76);
    letter-spacing: 1.2px;
    text-align: center;
    font-family: 'open sans', sans-serif;
    font-weight: 600;
}

.search_input::placeholder:active {
    display: none;
}

.search_input:hover,
.search_input:focus {
    padding: 14px 0;
    outline: 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #000000;
    /* background-image: url('../public/images/ic_clear.png');
    background-position: 98% center; */
}

.input_container {
    padding: 12px;
}

/* Not Found Img*/
.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    color: rgb(74, 75, 76);
    font-family: 'Montserrat', sans-serif;
}


.notfound_img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px
}

.notfound_text_container {
    text-align: center;
    padding: 10px;
}

/* Filter Buttons*/
.filter_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.price_btn,
.price_active,
.size_active,
.size_btn {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    width: 95%;
    border: none;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
}

.price_btn:hover {
    opacity: 90%;
}

.size_btn:hover {
    opacity: 90%;
}

.price_btn {
    background-color: rgb(235, 84, 64);
    border-radius: 10px 0 0 10px;
}

.price_active {
    background-color: rgb(223, 52, 30);
    border-radius: 10px 0 0 10px;
}

.size_btn {
    background-color: rgb(195, 195, 195);
    border-radius: 0 10px 10px 0;
}

.size_active {
    background-color: rgb(112, 108, 108);
    border-radius: 0 10px 10px 0;
}

.num_of_result {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 10px;
}

/*Home Card */
.card {
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
}

.card_header img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.card_body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 100%;
    padding-left: 15px;
    min-height: 120px;
}


.house_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.edit_container {
    display: flex;
    justify-content: space-between;
}

.edit:hover {
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}

.house_price {
    font-size: 12px;
}

.house_location {
    color: rgb(74, 75, 76);
}

.small_info {
    padding-right: 5px;
}

.icon_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    margin: 10px 0;
    padding-right: 5px;
}

/* Edit - Delete */
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    opacity: 0
}

.card_body:hover .icons {
    opacity: 100%;
}

/* Bottom Navbar */

.navbar_container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    align-items: center;
    z-index: 50;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar_element {
    padding: 15px 25px;
    margin: 5px;
}

.navbar_element:hover {
    background-color: rgb(252, 249, 249);
    border-radius: 20px;
}

@media screen and (min-width: 1025px) {
    .container {
        margin: 5px 120px;

    }

    .desktop_nav {
        display: block;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    }

    .logo {
        width: 15%;
        margin: 20px 40px;
    }

    .nav_container {
        display: flex;
        align-items: flex-start;
    }

    .nav_element_active {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        margin: 30px 20px;
        cursor: pointer;
    }

    .nav_element_pasive {
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin: 30px 20px;
        color: rgb(195, 195, 195);
        cursor: pointer;
    }

    .mobile_nav {
        display: none;
    }

    .plus {
        display: none;
    }

    .house_header {
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-weight: 800;
    }

    .header_container {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }

    .new_listing_btn {
        display: block;
        margin: 10px;
        background-color: rgb(235, 84, 64);
        border-radius: 10px;
        color: #ffff;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding: 0 5px;
        width: 180px;
        height: 50px;
        outline: none;
        border: none;
    }

    .new_listing_btn:hover {
        opacity: 85%;
    }

    .img_span {
        padding-right: 20px;
        position: relative;
        top: 2px;
    }



    .input_and_filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter_buttons {
        width: 25%;
    }

    .input_container {
        padding: 0;
        margin-top: 25px;
    }

    .search_input {
        width: 100%;
        padding: 15px 120px;
        font-size: 16px;
    }

    .search_input:hover,
    .search_input:focus {
        padding: 15px 120px;
        outline: 0;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid #000000;
    }

    .price_btn,
    .price_active,
    .size_active,
    .size_btn {
        padding: 14px;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
    }

    .card {
        margin: 5px;
        font-family: 'Open Sans', sans-serif;
        padding: 20px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .card_header img {
        width: 180px;
        height: 190px;
    }

    .house_name {
        font-size: 18px;
    }

    .house_price {
        font-size: 16px;
        color: rgb(74, 75, 76);
        font-weight: 700;
    }

    .icon_container {
        justify-content: flex-start;
    }

    /* small icons */
    .icon {
        margin: 15px 0;
        padding-right: 35px;
        font-weight: 500;
    }

    /*Edit Delete */
    .icons {
        width: 10%;
    }

    /* Not Found Img*/
    .notfound_text_container {
        padding: 15px;
        font-size: 18px;
    }

    .notfound_img_container {
        width: 350px;
    }

    .num_of_result {
        font-size: 16px;
        font-weight: 600;
        margin: 10px;
    }
}