.house_img {
    width: 100%;
}

.top_icons {
    width: 100%;
    padding: 15px;
    z-index: 522;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: space-between;
}

.go_back_container {
    display: none;
}

.edit_container {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.back_container:hover {
    opacity: 60%;
}

.icons_right:hover {
    opacity: 60%;
}

.card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

.card {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    text-align: left;
    color: rgb(74, 75, 76);
    font-size: 13px;
}

.top_card {
    margin-left: 10px;
}

.card_header {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: rgb(0, 0, 0)
}


.card_icon {
    margin-right: 5px;

}

.info_span {
    margin-bottom: 15px;
    align-items: center;
}

.icons_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.edit_and_delete {
    display: none;
}

.price,
.bed,
.zip {
    margin-right: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.size {
    margin-right: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.built {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.description {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    padding: 5px;
}

.recommend_header {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 10px;
}


.recommend_cards {
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    width: 100%;
}

.recommend_card_img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.recommend_container {
    width: 98%;
    padding: 10px;
}

.recommend_card_body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 100%;
    padding-left: 15px;
    min-height: 120px;
    min-width: 180px;
}

.recommend_edit_container {
    display: flex;
    justify-content: space-between;
}

.recommend_house_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.recommend_house_price {
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(57, 57, 58);
}

.recommend_house_location {
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 75, 76);
}

.recommend_icon_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recommend_small_info {
    padding-right: 5px;
}

.recommend_icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    padding-right: 15px;
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(74, 75, 76);
}

.recommend_icon_container {
    align-items: flex-end;
    justify-content: flex-start;
}


@media screen and (min-width: 1025px) {
    .go_back_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 25%;
    }

    .recommend_section {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .recommend_container {
        width: 100%;
    }

    .recommend_header_container {
        display: flex;
        justify-content: flex-start;
    }

    .back_btn {
        position: relative;
        top: 25px;
        left: 4%;
        padding-right: 15px;
        cursor: pointer;
    }

    .overview_text {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-top: 25px;
        margin-left: 25px;
    }

    .container {
        margin: 15px 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .mobile_nav_container {
        display: none
    }

    .house_img {
        width: 80%;
    }

    .img_container {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .top_icons {
        display: none;
    }

    .header_and_icons {
        display: flex;
        justify-content: space-between;
    }

    .card_width{
        width: 100%;
    }

    .edit_and_delete {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        width: 15%;
    }

    .edit_desktop:hover,
    .delete_desktop:hover {
        opacity: 80%;
    }

    .edit_container {
        display: none;
    }


    .card_container {
        justify-content: flex-start;
        position: relative;
        bottom: 0px;
    }

    .card {
        width: 80%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px;
        color: rgb(74, 75, 76);
        font-size: 16px;
    }

    .card_header {
        font-size: 18px;
    }

    .description {
        font-size: 16px;
        line-height: 1.6;
        padding: 5px;
    }

    .recommend_header {
        font-size: 18px;
        text-align: left;
    }

    .recommend_cards {
        margin: 5px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        /* font-family: 'Montserrat', sans-serif; */
        font-family: 'Open Sans', sans-serif;
        align-items: center;
        padding: 10px;
        font-size: 12px;
        margin-bottom: 20px;
        width: 100%;
    }

    .recommend_card_img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        width: 140px;
        height: 140px;
        cursor: pointer;
    }

    .recommend_card_body {
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        width: 100%;
        padding-left: 15px;
        min-height: 120px;
        min-width: 180px;
    }

    .recommend_edit_container {
        display: flex;
        justify-content: space-between;
    }

    .recommend_house_name {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    .recommend_house_price {
        font-family: 'open sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: rgb(57, 57, 58);
    }

    .recommend_house_location {
        font-family: 'open sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: rgb(74, 75, 76);
    }

    .recommend_icon_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .recommend_small_info {
        padding-right: 5px;
    }

    .recommend_icon {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 10px 0;
        padding-right: 15px;
        font-family: 'open sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: rgb(74, 75, 76);
    }

    .recommend_icon_container {
        align-items: flex-end;
        justify-content: flex-start;
    }



}